#!/bin/sh
#
# This is an example of a hook invoked when the automatic disc ripper terminated
# ripping a disc. This script is always invoked with /bin/sh (shebang ignored).
#
# The following parameters are passed to this hook:
#   - The MakeMKV drive ID.
#   - The disc label/title.
#   - The output directory.
#   - The status.
#

DRV_ID="$1"
DISC_LABEL="$2"
OUTPUT_DIR="$3"
STATUS="$4"

case "$STATUS" in
    0)
        echo "The automatic disc ripper successfully ripped disc '$DISC_LABEL' (drive $DRV_ID)."
        ;;
    *)
        echo "The automatic disc ripper failed to rip disc '$DISC_LABEL' (drive $DRV_ID)."
        ;;
esac
