#!/bin/sh
#
# This is an example of a hook invoked when a disc rip has been started from the
# MakeMKV GUI. This script is always invoked with /bin/sh (shebang ignored).
#
# The following parameters are passed to this hook:
#   - The disc label/title.
#   - The output directory.
#

DISC_LABEL="$1"
OUTPUT_DIR="$2"

echo "MakeMKV started ripping disc '$DISC_LABEL' to '$OUTPUT_DIR'."
